__pycache__/analysis.cpython-313.pyc
__pycache__/comparison.cpython-313.pyc
__pycache__/explanation.cpython-313.pyc
__pycache__/analysis.cpython-312.pyc
__pycache__/comparison.cpython-312.pyc
__pycache__/explanation.cpython-312.pyc
